
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 14%;
    --foreground: 0 0% 98%;
    --card: 240 5% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 40% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 277 65% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 277 65% 60%;
    --chart-1: 240 40% 30%;
    --chart-2: 277 65% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
